    <h3>Ordering</h3>
    <ul>
        <li>
            <p class="bold">How do I place an order?</p>
            Here's a step-by-step guide on placing your order online with <em>GreenPortal.ca</em>
            <ol>
                <li>Locate the products you are interested in ordering by going to <a href="https://greenportal.ca">greenportal.ca</a></li>
                <li>Click on the desired product(s), choose your quantity then click "Add to Cart"</li>
                <li>When you have all your products in your shopping cart, and are ready to Checkout, click on the shopping cart icon (top-right of your screen) and you will be redirected to the View Cart page.</li>
                <li>Check to see if everything looks right, if you have a coupon code, enter in the code and click Apply Coupon. When you’re ready click on the green Proceed to Checkout button</li>
                <li>In the Checkout page, you will need to login with your email address and password. If this is your first time registering with us, you will need to provide your email and choose a password and an account will be set up for you</li>
                <li>Once you've filled in all the required fields, you'll need to accept the Terms and Conditions (located on the bottom of the page) then click "Place Order"</li>
                <li>On the Checkout Confirmation page, you will see your order number and instructions on sending an Interac E-transfer. Orders only ship after E-transfer has been received</li>
                <li>Once we collect your E-Transfer, your order will be processed and will ship the following business day. We'll email your Xpresspost tracking number as soon as available</li>
            </ol>
            <strong>Congrats, you have now placed your order!</strong>
        </li>
        <li>
            <p class="bold">How will my order be packaged?</p>
            Your order will be discreetly packaged and vacuum-sealed to protect and maintain your privacy. We ship using nondescript boxes with no indication of what is inside.
        </li>
        <li>
            <p class="bold">Do you ship outside of Canada?</p>
            Unfortunately, we do not ship outside of Canada.
        </li>
        <li>
            <p class="bold">When will my order ship?</p>
            If we receive your order and Interac E-transfer by our 9am PST cutoff time, your order will ship that business day. If we receive your order and payment after 9am PST, your order will ship the next business day.
        </li>        
        <li>    
            <p class="bold">Can I add/edit/cancel my order?</p>
            If you would like to add or edit your order, you'll need to place a new order and your original order will cancel automatically if left unpaid after two days.
        </li>
        <li>
            <p class="bold">The order of my status says "completed," but I have not received my package yet.</p>
            We change the status of your order to "complete" once we drop off your package to the post office. It is to show your order has been completed on our end.<br/>
            To find out your expected delivery date please track you order by logging into your account and clicking on the truck icon beside your order number. This will bring you to the tracking link.
        </li>
    </ul>
<!-- ---------------------------------------------------------------- -->
    <h3>Payments & Fees</h3>
    <ul>
        <li>
            <p class="bold">What methods of payment do you accept?</p>
            Payment is made using Interac E-transfer. If you use online banking with a Canadian bank or credit union, then sending a transfer takes just a couple of minutes.<br/>
            Instructions will be provided with your online invoice and orders ship only after E-Transfer have been received. After we receive your payment, your order will be shipped 1-2 business days.<br/>
            If you are new to Interac E-transfers, please visit <a href="http://www.interac.ca/en/interac-e-transfer-consumer.html" target="_blank">http://www.interac.ca/en/interac-e-transfer-consumer.html</a>
        </li>
        <li>
            <p class="bold">How do I send an Interac E-transfer?</p>
            If you use online banking with a Canadian bank/credit union, then sending an Interac E-transfer takes just a couple of minutes.<br/>
            To make an Interac e-Transfer:
            <ol>
                <li>Open a banking session on your financial institution's website.</li>
                <li>Choose the Interac e-Transfer option from the Transfers / Payments menu.</li>
                <li>Create a recipient (Greenportal) by entering our email address: <strong>shop@greenportal.ca</li></strong>
                <li>Enter Interac e-Transfer information:
                    <ul>
                        <li>Amount of the invoice to be paid</li>
                        <li>Billable account</li>
                        <li>Security question: write "my order"</li>
                        <li>Answer: write the number of your order. (ex: if your order number is 001234, your answer should be: 001234)</li>
                    </ul>
                </li>
                <li>Follow the instructions to validate the information and send the transfer order.</li>
            </ol>
            <p>Your order will be sent upon receipt of the Interac transfer.</p>
            <strong>IMPORTANT:</strong> THE INTERAC TRANSFER MUST BE SENT IN THE TIME FOLLOWING THE ORDER TO VALIDATE IT.
<!--            
            Google is a great tool and if you search "your bank name" + Interac E-transfer in Google.ca, you should easily find instructions on how to send a transfer with your financial institution.<br/>
            For information on sending an E-transfer, please contact your bank or <a href="http://www.interac.ca/en/interac-e-transfer-consumer.html" target="_blank">http://www.interac.ca/en/interac-e-transfer-consumer.html</a> Or watch this video below:<br/>
            <a href="https://www.youtube.com/watch?time_continue=39&v=7xEIgj5_dTc" target="_blank">https://www.youtube.com/watch?time_continue=39&v=7xEIgj5_dTc</a>
-->            
        </li>
        <li>
            <p class="bold">Where do I find the information to send payment?</p>
            Payment details are found on the order confirmation page after you have placed your order. Please keep a copy for your records or screen shot the page so you know where to send payment.<br/>
            Please note that the e-mail address to send payment changes periodically so make sure you are sending to the one on your confirmation page.
        </li>
        <li>
            <p class="bold">What do I put as the security question for the e-transfer?</p>
            Please put your 6 digit order number as the security question. For example, "000000"<br/>
            You do not need to put "Your order number 000000."
        </li>  
        <li>
            <p class="bold">Do I need to notify you when I've sent payment?</p>
            No, it is not necessary as we already receive a notification to our inbox from your bank when the e-transfer is sent to us.<br/>
            If you do not receive a payment confirmation e-mail from us after 24 hours, it means that your bank may have placed a hold on the transfer and is waiting for you to verify payment, or you sent the e-transfer to an incorrect e-mail address. Please ensure accuracy in the transfer details and please note our email address changes periodically without notice.<br/>
            Please allow more time for e-transfers sent over the weekend to be deposited.
        </li>      
        <li>
            <p class="bold">Why is my order "on hold"?</p>
            All orders are placed "on hold" until payment has been accepted.
        </li>
        <li id="whyNotAccept">
            <p class="bold">Why haven't you accepted my Interac E-transfer?</p>
            Please give us a day to accept Interac e-transfers. However, if you are sending payment over the weekend please allow until Monday morning for your e-transfer to be accepted.<br/>
            It also may be the case that your e-transfer was not accepted because your bank blocked the transfer. In this case you need to contact the bank to verify the transfer so that we can accept payment and begin processing your order.<br/>
            Please also ensure you send payment to the correct e-mail address by copying and pasting the e-mail address on the order confirmation page. Our e-mail address changes periodically without notice in an effort to prevent fraudulent payments.
        </li>
        <li>
            <p class="bold">What are the shipping fees?</p>
            <span class="bold">FREE SHIPPING over 100$</span> via Canada Post Xpress (2-3 business days to most parts of Canada)<br/> 
            Your delivery is guaranteed (except for residents of Nunavut and Northern Quebec, or if you provide an inaccurate/incomplete address or request no signature required).
        </li>
        <li>
            <p class="bold">Add Why was my package sent with a “Signature Required”?</p>
            All orders will be sent with a Signature Required to make sure packages are delivered to the proper recipient.
        </li>
        <li>
            <p class="bold">What will happen to my order if I don't submit payment?</p>
            Once you've placed your order, the next step in the process will be to submit an Interac E-transfer. Your order will be kept On Hold till we receive your E-transfer. If we do not receive your payment within 2 days, your order will be cancelled.
        </li>        
    </ul>



 

