  <footer class="container">
    <div class="row">
        <ul>
          <li><a>{{titles.footer.supportCenter[lang]}}</a></li>
          <li><a data-toggle="modal" data-target="#faq">{{titles.footer.faq[lang]}}</a></li>
          <li><a data-toggle="modal" data-target="#contactus">{{titles.footer.contactUs[lang]}}</a></li>
          <li ng-if="currentUser"><a ng-click="openUserBox()" data-toggle="modal" data-target="#userProfileModal">{{titles.footer.myAccount[lang]}}</a></li>
          <li ng-if="!currentUser"><a data-toggle="modal" data-target="#loginModal">{{titles.footer.myAccount[lang]}}</a></li>
        </ul>
        <a href="#top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    </div>  
    <p>&copy; {{titles.footer.copyRight[lang]}}</p>
  </footer>

<!-- contact us - MODAL ---------------------------------------------------------------------------------------------------------------- -->    
<div class="modal fade" id="contactus" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>{{titles.contactUs.contact[lang]}}</h3>
            </div>
            <div class="modal-body">
                <div class="alarmMsg"></div>
                <form name="contactUsForm" novalidate>
                    <div class="form-group">
                        <label for="name" class="col-form-label">* {{titles.contactUs.name[lang]}}:</label>
                        <input type="text" class="form-control" ng-model="name" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-form-label">{{titles.contactUs.phone[lang]}}:</label>
                        <input type="phone" class="form-control" id="phone" ng-model="phone">
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">{{titles.contactUs.email[lang]}}:</label>
                        <input type="email" class="form-control" id="email" ng-model="email">
                    </div>
                    <div class="aform-group">
                        <label for="msgTxt" class="col-form-label">* {{titles.contactUs.msgTxt[lang]}}:</label>
                        <textarea rows="5" class="form-control" id="msgTxt" ng-model="msgTxt" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="contactUsSendMsg()" class="btn btn-primary">{{titles.contactUs.send[lang]}}</button>
            </div>
            <p class="errMessage">{{contactUsFormErrMsg}}</p>
        </div>
    </div>
</div>

<!-- LOGIN-MODAL ---------------------------------------------------------------------------------------------------------------- -->    
<div class="modal fade" id="faq" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1>FAQ</h1>
            </div>
            <div class="modal-body">
                <div ng-include="'templates/faq.html'"></div>
            </div>
        </div>
    </div>
</div>
