<p>La protection de vos renseignements personnels est importante pour IMPORTEA Inc. et c’est pourquoi nous faisons tout en notre possible pour protéger ce que vous devez nous fournir afin d’accéder à certaines pages de notre site web. La présente politique
    de confidentialité vous aidera à comprendre comment IMPORTEA recueille, utilise et divulgue vos renseignements personnels.</p>
<p>En accédant à ce site web, vous consentez, dans les limites couvertes par la présente politique, à la cueillette et à l’utilisation de vos renseignements par IMPORTEA.</p>
<ol>
    <li>Types de renseignements recueillis et leurs usages : IMPORTEA recueille les renseignements de nos clients afin de faciliter leur navigation sur notre site web. Nous recueillons deux types de renseignements :
        <ul>
            <li>Renseignements statistiques anonymes : Lorsque vous accédez à notre site web, IMPORTEA recueillera automatiquement, à votre insu et sans votre consentement, certains renseignements anonymes (ci-après appelés « renseignements anonymes »). Ce
                type de cueillette est effectué sur la plupart des sites web et ne permet pas l’identification personnelle. Par exemple, IMPORTEA utilise des témoins (cookies), lesquels ne contiennent aucun renseignement permettant de vous identifier,
                mais des renseignements à des fins statistiques. Il vous est possible en tout temps de ne plus être assujetti aux témoins en modifiant la configuration de votre ordinateur. Toutefois, certaines caractéristiques de notre site web pourraient
                ne plus fonctionner, ou certaines fonctions pourraient s’en trouver limitées.</li>
            <li>Renseignements de nature personnelle : Afin d’utiliser certaines fonctions de notre site web, vous devrez fournir des renseignements personnels qui permettent de vous identifier (ci-après appelés « renseignements personnels »). On vous demandera
                votre consentement avant de recueillir des renseignements personnels. Les raisons pour lesquelles nous recueillons des renseignements de cette nature sont les suivantes :
                <ul>
                    <li>Traiter, livrer et facturer votre commande ainsi que faire un suivi des transactions;</li>
                    <li>Anticiper et résoudre de possibles problèmes de service à la clientèle;</li>
                </ul>
            </li>
        </ul>
        IMPORTEA reconnaît expressément que les renseignements personnels recueillis ne seront pas utilisés à d’autres fins, à moins d'obtenir votre consentement ou d'y être obligé par la loi. Les renseignements personnels recueillis varieront selon votre utilisation
        du site web, mais pourront inclure votre nom, votre adresse, votre adresse courriel et votre numéro de téléphone.
    </li>
    <li>Consentement : Nous ne recueillerons pas vos renseignements personnels à votre insu ou sans votre consentement. Vous pouvez en tout temps retirer votre consentement en faisant parvenir votre demande écrite à <a data-toggle="modal" data-target="#contactus">Contactez nous</a>.
        Sur réception de votre demande, nous cesserons d’utiliser vos renseignements personnels.</li>
    <li>Partage de renseignements : IMPORTEA utilisera vos renseignements personnels pour les seuls usages décrits dans le présent document. De plus, IMPORTEA s’engage à ne pas vendre, échanger ou divulguer à tierces parties les renseignements personnels
        recueillis sur ce site web, sauf les exceptions suivantes :
        <ul>
            <li>Lorsque la loi l’exige : IMPORTEA pourrait partager les renseignements personnels recueillis lorsque la loi l’exige, spécialement en réponse à une demande provenant des autorités gouvernementales lorsque ces demandes sont conformes aux exigences
                légales.
            </li>
            <li>Protection de vos renseignements : Nous prenons très sérieusement la responsabilité de protéger les renseignements que vous nous confiez. De ce fait, nous y limitons l’accès et nous utilisons des technologies de pointe afin de protéger vos
                renseignements personnels contre les intrusions malveillantes. Toutefois, il faut noter que, malgré tous nos efforts pour protéger vos renseignements, aucun protocole de sécurité n’est efficace à 100%. Si une violation de vos renseignements
                personnels survenait, nous vous en aviserions dans les meilleurs délais.</li>
            <li>Enfants de moins de 14 ans : La protection des renseignements personnels des enfants nous tenant à cœur, nous ne recueillons pas sciemment leurs renseignements personnels.</li>
            <li>Divers : La présente politique de confidentialité devra être régie et interprétée selon les lois de la province de Québec, sans égard aux principes sur les conflits de lois. IMPORTEA et le client conviennent de la juridiction exclusive de
                la province de Québec.</li>
        </ul>
    </li>
</ol>
<p>La présente politique de confidentialité ainsi que les termes et conditions constituent l’entente complète entre les partis et il n’existe aucune autre convention ou représentation verbale ou écrite concernant l’objet visé par les présentes.</p>