<section class="container section2s">
    <h2>{{titles.section2s.products[lang]}}</h2>
    <div class="row">
        <span ng-repeat="tea in products | orderBy:'parentGrpId'" ng-if="tea.special">
            <div class="col-xs-6 col-sm-3" data-toggle="modal" data-target="#productModal" ng-click="showThisProduct(tea)">
                <div ng-class="{'bk-sahiva':tea.parentGrpId==11,'bk-hybrid':tea.parentGrpId==12,'bk-indica':tea.parentGrpId==13,'bk-concent':tea.parentGrpId==14}">
                    <box>
                        <div class="image">
                            <img ng-src="images/{{tea.image}}">
                        </div>
                        <h3>{{tea.title}}</h3>
                        <h4>{{tea.price[0].price}}$ ~ {{tea.price[tea.price.length-1].price}}$</h4> 
                    </box>
                </div>
            </div>
        </span>
    </div>
</section>
  