<section class="container section3" id="section3">
    <h2>{{titles.section3.teaShop[lang]}}</h2>
    <div class="row">
        <span ng-repeat="tea in products" ng-if="!tea.special">
            <span>
                <div id="{{'grp'+tea.parentGrpId}}" class="col-xs-4 col-sm-3 col-md-5" data-toggle="modal" data-target="#productModal" ng-click="showThisProduct(tea)">
                    <div class="image">
                        <img ng-src="images/{{tea.image}}">
                    </div>
                    <h3>{{tea.title}}</h3>
                    <p><em>{{tea.price[0].price|number:2}}$</em> /{{tea.price[0].weight}}gr</p> 
                </div>
            </span>
        </span>
    </div>
</section>