<section class="container section4">
        <div class="row">
            <div class="col-sm-1 col-md-2"></div>
            <div class="col-12 col-sm-10 col-md-8 operation">
                <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                <p>{{titles.section4.howCanHelp[lang]}}</p>
                <p><a data-toggle="modal" data-target="#contactus" class="btn btn-lg btn-info">{{titles.section4.dropALine[lang]}}</a></p>
                <p>{{titles.section4.hoursOperation[lang]}}</p>
                <p>{{titles.section4.workingDays[lang]}}</p>
                <p>{{titles.section4.holidays1[lang]}}</p>
                <p>{{titles.section4.holidays2[lang]}}</p>
            </div>
        </div>
    </section>