<div class="container section1s">
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <div class="image">
                <img src="images/tea_type/indica.png">
            </div>
            <h1>Sativa</h1>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="image">
                <img src="images/tea_type/hybrid.png">
            </div>
            <h1>Hybrid</h1>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="image">
                <img src="images/tea_type/sativa.png">
            </div>
            <h1>Indica</h1>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="image">
                <img src="images/tea_type/concentrate.png">
            </div>
            <h1>Concentrate</h1>
        </div>
    </div>
</div>
